.search-crypto{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.search-form{
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 25%;
  margin: 20px auto;
}

.input-container{
  position: relative;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.input-container > i{
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  font-size: 20px;
  color: var(--third-color);
  z-index: 1;
}

.search-input{
  width: 100%;
  height: 100%;
  padding: 16px 40px;
  border: 1px solid var(--global-border);
  border-radius: 8px;
  font-size: 16px;
  color: var(--second-color);
}

.search-input::placeholder{
  color: var(--global-border);
}

.search-input:focus{
  border: 1px solid var(--global-color);
  outline: none;
}

.result-chart{
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 65%;
  margin: 20px auto;
  border: 1px solid var(--global-border);
  border-radius: 8px;
}

.error-msg{
  position: absolute;
  top: 55%;
  left: calc(50% - 138px);
  margin: 0 auto;
  color: var(--negative-color);
}

.result-chart-title{
  font-size: 30px;
  font-weight: 300;
  color: var(--global-color);
}

.result-chart-line{
  position: absolute;
  left: 0;
  bottom: 5px;
}